/*
font-family: 'Catamaran', Helvetica, Arial, sans-serif;
font-family: 'Lato', Helvetica, Arial, sans-serif;
font-family: 'Mulish', Helvetica, Arial, sans-serif;
*/


.navbar .navbar-brand {
    color: #fdcc52;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
  } 