/*
font-family: 'Catamaran', Helvetica, Arial, sans-serif;
font-family: 'Lato', Helvetica, Arial, sans-serif;
font-family: 'Mulish', Helvetica, Arial, sans-serif;
*/

html {
  font-size: 16px;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.bg-primary {
  background: #fdcc52;
  background: linear-gradient(#fdcc52, #fdc539);
}

h1, h2, h3 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-family: 'Mulish', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

hr {
  max-width: 8rem;
  margin: 2rem auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

.navbar .navbar-brand {
  color: #fdcc52;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 1.25rem;
}

.navbar .navbar-brand:hover {
  color: #fff;
  transition: all .3s;
}

.bg-light .navbar-brand {
  color: #000;
}

.bg-light .navbar-brand:hover {
  color: #fdcc52;
  transition: all .3s;
}

.navbar .navbar-toggler {
  color: #000;
  font-size: .8rem;
  padding: 8px 10px;
}

.navbar .navbar-nav .nav-item {
  color: #000;
}

.navbar .navbar-nav .nav-item:hover {
  color: #fff;
  transition: all .3s;
}

.bg-light .navbar-nav .nav-item:hover {
  color: #fdcc52;
  transition: all .3s;
}

.navbar-nav {
  font-size: 1rem;
}

header.mainHeader {
  background: url(../img/bg-pattern.png), linear-gradient(to left, #7b4397, #dc2430);
  padding-top: 8rem;
}

.mainHeader {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  color: #fff;
}

.mainHeader h1 {
  font-size: 2rem;
}

.btn {
  border-radius: 10rem;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 0.7rem;
  padding: 1rem 2rem;
  letter-spacing: 2px;
  color: #fff;
  border: 1px solid;
}

.btn:hover {
  border: 1px solid #fdcc52;
  background-color: #fdcc52;
  transition: all .3s;
}

.placeholder img {
  padding: 2rem;
  height: 40rem;
}

section.download {
  position: relative;
  padding: 4rem 0;
}

section.download h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

section.download p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

section.download .badges .badge-link {
  display: block;
  margin-bottom: 1rem;
}

section.download .badges .badge-link img {
  height: 5rem;
  padding: .3rem;
}

section.features {
  padding: 4rem 0;
}

section.features .feature-item {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  text-align: center;
}

section.features .feature-item h3 {
  font-size: 2rem;
}

section.features .feature-item p.icon {
  font-size: 4rem;
  color: #B2315C;
}

section.cta {
  position: relative;
  padding: 15rem 0;
  background-image: url("../img/bg-cta.jpg");
  background-position: center;
  background-size: cover;
}

section.cta .cta-content {
  position: relative;
  z-index: 1;
}

section.cta h2 {
  font-size: 3rem;
  max-width: 30rem;
  margin-top: 0;
  margin-bottom: 2rem;
  color: white;
}

section.cta .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

section.contact {
  padding: 2rem 0;
  justify-content: center;
  background-color: #fdcc52;
}

section.contact h2 {
  font-size: 3rem;
}

.contact span {
  font-size: 3rem;
  color: #dd4b39;
}

.contact a {
  text-align: center;
  font-size: 2.5rem;
  line-height: 5rem;
  display: block;
  width: 5rem;
  height: 5rem;
  color: white;
  border-radius: 100%;
  margin: 0.6rem;
}

.contact .row {
  justify-content: center;
}

a.twitterButton {
  background-color: rgba(29, 161, 242, .9);
}

a.twitterButton:hover {
  background-color: rgba(29, 161, 242, 1);
}

a.facebookButton {
  background-color: rgba(59, 89, 152, .9);
  transition: all .3s;
}

a.facebookButton:hover {
  background-color: rgba(59, 89, 152, 1);
  transition: all .3s;
}

a.googleButton {
  background-color: rgba(221, 75, 57, .9);
  transition: all .3s;
}

a.googleButton:hover {
  background-color: rgba(221, 75, 57, 1);
  transition: all .3s;
}

footer {
  padding: 2rem 0;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

footer .row {
  justify-content: center;
}

footer p {
  font-size: .8rem;
  margin: 0;
}

footer a {
  font-family: 'Mulish', 'Helvetica', 'Arial', 'sans-serif';
  font-size: .8rem;
  margin: 0 .8rem;
  color: rgba(255, 255, 255, 0.3);
}

footer a:hover {
  text-decoration: none;
  color: #fdcc52;
  transition: all .3s;
}

.modal .modal-title {
  color: rgba(0, 0, 0, 0.5)
}

.modal .modal-body {
  color: rgba(0, 0, 0, 0.5)
}