.fa-heart{
  color: #dd4b39;
}

.row{
border:1px solid black;
justify-content: center;
}


.contact a {
  text-align: center;
  font-size: 40px;
  line-height: 80px;
  display: block;
  width: 80px;
  height: 80px;
  color: white;
  border-radius: 100%;
  margin: 0 1rem;
}


a.twitterButton{
  background-color: rgba(29, 161, 242, .9);
}

a.twitterButton:hover{
  background-color: rgba(29, 161, 242, 1);
}

a.facebookButton{
  background-color: rgba(59, 89, 152, .9);
}

a.facebookButton:hover{
  background-color: rgba(59, 89, 152, 1);
}

a.googleButton{
  background-color: rgba(221, 75, 57, .9);
}

a.googleButton:hover{
  background-color: rgba(221, 75, 57, 1);
}
